@page "/signalRTest2"
@using MudBlazor

<h3>SignalR Testing</h3>

<MudGrid Class="mt-1">
    <MudItem xs="12" sm="6" md="4" class="d-flex align-items-center ">

        <MudTextField @bind-Value="message" Variant="Variant.Outlined" Margin="Margin.Dense" Class="p-2" Required />
        <MudButton Variant="Variant.Filled" OnClick="CallApi" Color="Color.Info" Class="p-2 ">Send</MudButton>

    </MudItem>
</MudGrid>
        <MudCard Class="w-50 m-2 p-2" Elevation="5">

@if (messages != null)
{
    @foreach (var message in messages)
    {

        <MudGrid>
                <MudItem xs="12" sm="6" md="2" class="d-flex align-items-center ">
                    <MudInputLabel class=" m-2">@message.userid</MudInputLabel>
                </MudItem>
                <MudItem xs="12" sm="6" md="4" class="d-flex align-items-center ">
                    <MudInputLabel class="fw-bold m-2">@message.message</MudInputLabel>

                </MudItem>
        </MudGrid>

    }
}
</MudCard>
