@inherits LayoutComponentBase
@using MudBlazor
@using SignalRTest.UI.Service
<MudThemeProvider  />
<MudPopoverProvider />
<MudDialogProvider />
<MudSnackbarProvider />
<div class="page">
  

    <main>
        @if (!IsLoginPage)
        {
            <div class="top-row px-4">
                <AuthorizeView>
                    <Authorized>
                        Hello, @context.User.FindFirst(c => c.Type == "email")?.Value!
                        <button @onclick="Logout">Logout</button>
                    </Authorized>
                    <NotAuthorized>
                        <button @onclick="Login">Login</button>
                    </NotAuthorized>
                </AuthorizeView>
                <a href="https://learn.microsoft.com/aspnet/core/" target="_blank">About</a>
            </div>
        }

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>

@code {
    [Inject] NavigationManager Navigation { get; set; }
    [Inject] IHttpContextAccessor HttpContextAccessor { get; set; }
    [Inject] public AuthenticationStateProvider AuthenticationStateProvider { get; set; }

    private bool IsLoginPage => Navigation.Uri.Contains("/login", StringComparison.OrdinalIgnoreCase);

    void Login() => Navigation.NavigateTo("login", true);
    void Logout()
    {
        if (AuthenticationStateProvider is CustomAuthStateProvider customAuthStateProvider)
        {
            customAuthStateProvider.MarkUserAsLoggedOut();
        }

        Navigation.NavigateTo("/login");
    }
}
